/*--- Colors ---*/

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --dark-cyan: #003d4d;
    --very-pale-blue: 	#f5faff;
}

* {
    box-shadow: 0 0 0 1px rgb(109, 212, 253);
}

html, body {
    margin: 0;
}

h1, h2, h3, h4  {
    font-family: 'Poppins';
    color: var(--very-dark-cyan);
}

p {
    font-family: 'Poppins';
    font-size: clamp(0.8em, 0.1rem + 3vw, 1.4rem);
    font-weight: 400;
    margin: 0 auto;
    color: var(--very-dark-cyan);
    max-width: 600px;
}

svg {
    display: block;
}

/*--- Header ---*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0em 2em 2em;
}

.header_div_left {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
}

.header_div_right {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
    padding-right: 1em;
}

.header_button, .section1 input, .section5 input, footer .button_input {
    padding: 0.9em 2.5em;
    margin:0 0.3em 0.3em 0;
    border-radius: 3em;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 0.5em;
    height: 40%;
    border:0.12em solid var(--light-pink);
    background-color: white;
    color: var(--pink);
    text-align:center;
    transition: all 0.15s;
}

.header_button:hover, .section1 input:hover, .section5 input:hover, footer .button_input:hover {
    background-color: var(--pink);
    border-color: var(--light-red);
    color: white;
}

.header_button:active, .section1 input:active, .section5 input:active, footer .button_input:active {
    border-color: var(--light-pink);
    background-color: var(--light-pink);
    box-shadow: rgba(0, 0, 0, 0.178) 0px 5px 15px 5px;
}

.header_title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    font-size: clamp(1.4em, 0.2rem + 3vw, 2.5rem);
    padding-left: 0.2rem;;
}

.header_img {
    width: 1.4em;
    height: 1.2em;
}

/*--- Section 1 ---*/

.section1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2em;
    font-family: 'Open Sans', sans-serif;
    color: var(--very-dark-cyan);
}

.section1 .main_img {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.section1 h1, .section5 h1 {
    font-size: clamp(1.0rem, 0.1rem + 5vw, 3rem);
}

.section1 input, .section5 input, footer .button_input {
    background-color: var(--pink);
    color: white;
    font-size: 0.7em;
    font-weight: 600;
    padding: 1em 4.1em;
    margin: auto;
    margin-bottom: 8em;
    margin-top: 4em;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 2px 4px 1px;
}

.box_community, .box_message {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 0;
    margin: 0 auto;
    min-width: 200px;
}

.boxes {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
}

.box_community img, .box_message img {
    width: 18%;
    margin-right: auto;
}

.box_community h2, .box_message h2 {
    margin-right: auto;
    font-weight: 600;
}

.box_community h2 {
    font-size: 3.3em;
    font-size: clamp(3.3em, 0.2rem + 10vw, 5rem);
}

.box_message h2 {
    font-size: 2.9em;
    font-size: clamp(2.9em, 0.2rem + 8vw, 4.4rem);

}

.box_community h3, .box_message h3 {
    text-align: center;
    font-size: clamp(0.8em, 0.1rem + 2vw, 1.2rem);
    font-weight: 400;
    margin: 0;
    color: grey;
}

/*--- Section 2,3,4 ---*/

.section2, .section3, .section4 {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--very-pale-blue);
    text-align: center;
    padding: 5em 2em;
    font-size: clamp(1.1rem, 0.1rem + 3vw, 2rem);
}

.section2 img, .section3 img, .section4 img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.section3 {
    background-color: white;
    padding-bottom: 8em;
}

.section_box {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
}

/*--- Section 5 ---*/

.section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--very-dark-cyan);
}

.section5 input {
    margin-top: 1em;
}

/*--- Footer ---*/

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-cyan);
    color: white;
    padding: 2em 2em;
}

.news_and_contact {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 3em;
}

footer h2 {
    font-size: 1.2em;
}

footer p {
    color: white;
    font-weight: 500;
    font-size: 0.85em;
    margin-bottom: 1em;
    margin-top: 2em;
}

footer .text_input {
    border: none;
    border-radius: 0.3em;
    padding: 0.8em 1em;
    margin-bottom: 1em;
}

footer .button_input {
    border-color: var(--pink);
    border-radius: 0.3em;
    font-size: 0.8em;
    padding: 0.9em 3em;
    margin: 0;
    max-width: 150px;
    margin-left: auto;
}

.box_newsletter, .box_contact {
    display: flex;
    flex-direction: column;
    /* margin-top: 4em; */
    /* margin-bottom: 2em; */
    max-width: 500px;
    margin: auto 0;
}

.box_contact address {
    font-style: normal;
    margin-top: 1.5em;
}

.box_contact .phone_number::before {
    display: inline-flex;
    content: url('images/icon-phone.svg');
    margin-right: 1em;
}

.box_contact .email_address::before {
    display: inline-flex;
    content: url('images/icon-email.svg');
    margin-right: 1em;
}

.box_socials {
    display: flex;
    flex-direction: row;
    gap: 1em;
    filter: invert(100%);
    /* min-width: 350px; */
    margin-right: auto;
    /* max-width: 500px; */
}

.box_socials img {
    max-height: 25px;
}