/*--- Colors ---*/

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: 	#f5faff;
}
 
/* * {
    box-shadow: 0 0 0 2px rgb(109, 212, 253);
} */

html, body {
    margin: 0;
}

h1, h2, h3, h4  {
    font-family: 'Poppins';
}

p {
    font-family: 'Poppins';
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    color: var(--very-dark-cyan);
}

svg {
    display: block;
  }

/*--- Header ---*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0em 2em 2em;
}

.header_div_left {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
}

.header_div_right {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
    padding-right: 1em;
}

.header_button, .section1 input {
    padding: 0.9em 2.5em;
    margin:0 0.3em 0.3em 0;
    border-radius: 3em;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 0.5em;
    height: 40%;
    border:0.12em solid var(--light-pink);
    background-color: white;
    color: var(--pink);
    text-align:center;
    transition: all 0.15s;
}

.header_button:hover {
    background-color: var(--pink);
    border-color: var(--light-red);
    color: white;
}

.header_button:active {
    border-color: var(--light-pink);
    background-color: var(--light-pink);
    box-shadow: rgba(0, 0, 0, 0.178) 0px 5px 15px 5px;
}

.header_title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    padding-left: 0.2rem;;
}

.header_img {
    width: 1.4em;
    height: 1.2em;
}

/*--- Section 1 ---*/

.section1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2em;
    font-family: 'Open Sans', sans-serif;
    color: var(--very-dark-cyan);
}

.section1 input {
    background-color: var(--pink);
    color: white;
    font-size: 0.7em;
    font-weight: 600;
    padding: 1em 4.1em;
    margin: auto;
    margin-bottom: 8em;
    margin-top: 4em;
    box-shadow: rgba(0, 0, 0, 0.178) 0px 2px 4px 1px;
}

.box_community, .box_message {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 4.7em;
}

.box_community {
    padding-top: 6em; 
}

.box_community img, .box_message img {
    width: 13%;
    padding-left: 0.7em;
}

.box_community h2, .box_message h2 {
    margin: 0;
    font-weight: 600;
}

.box_community h2 {
    font-size: 3.3em;
}

.box_message h2 {
    font-size: 2.9em;
}

.box_community h3, .box_message h3 {
    text-align: center;
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    color: grey;
}

/*--- Section 2,3,4 ---*/

.section2, .section3, .section4 {
    display: flex;
    flex-direction: column;
    background-color: var(--very-pale-blue);
    text-align: center;
    padding: 4em 5em;
}

.section2 img, .section3 img, .section4 img {
    width: 85%;
}

.section3 {
    background-color: white;
    /* padding-top: 3em; */
    padding-bottom: 8em;
}